<h1>IMI REST API Version 0.1.0</h1>

<h2>Products</h2>
<ul>
	<li><a href="{{ url_for('products') }}">List all Products</a></li>
	<li><a href="{{ url_for('products',product_id='2') }}">Specific Product</a></li>
	<li><a href="{{ url_for('products',category='Abrasives') }}">Abrasive Products Only</a></li>
</ul>

<h2>Demand</h2>
<ul>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US,MX,CA',group_by='nation' ) }}">Abrasives North America Total </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US',group_by='company_size' ) }}">Abrasives USA by Company Size </a></li>
	<!--<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US',group_by='region' ) }}">Abrasives USA by Region </a></li>-->
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US',group_by='state' ) }}">Abrasives USA by State </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US,MX,CA',group_by='state' ) }}">Abrasives North America by State </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US.AZ,US.CO',group_by='state' ) }}">Abrasives Arizona and Colorado</a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US',group_by='sic' ) }}">Abrasives USA by SIC </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US',group_by='naics' ) }}">Abrasives USA by NAICS </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US.AZ,US.CO',group_by='sic' ) }}">Abrasives Arizona and Colorado by SIC</a></li>
	<!--<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US.CO,US.AZ',group_by='county' ) }}">Abrasives Arizon and Colorado by County </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US.CO',group_by='postal_code' ) }}">Abrasives Colorado by Postal Code </a></li>
	<li><a href="{{ url_for('demand', products='1,2,3,4',geo='US.CO,US.AZ',group_by='prospects' ) }}">Abrasives Arizona and Colorado by Company </a></li>-->
</ul>